#backs {
    position: absolute;
    z-index: -1;
    visibility: hidden;
}

#glass,
#next {
    position: absolute;
    background-color: rgba(0, 0, 0);
    background-color: rgba( #000000, .85);
    background-color: rgba(0, 0, 0, .85);
}