#buttons {
    visibility: hidden;
    position: absolute;
    z-index: 3;
}

#help_button,
#music_button,
#left_button,
#right_button,
#clockwise_button,
#counterclockwise_button,
#down_button,
#harddrop_button,
#fullscreen_button,
#dark_light_theme_button,
#music_line {
    background-size: cover;
    background-color: transparent;
    text-align: center;
    position: absolute;
    overflow: hidden;
    border: none;
}

#control {
    visibility: hidden;
}

#left_button,
#right_button,
#clockwise_button,
#counterclockwise_button,
#down_button,
#harddrop_button {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    border: 1px solid rgb(255, 38, 0);
}

.border {
    box-shadow: 0 5px rgb(105, 31, 31);
}

.pushed {
    transform: translateY(5px);
}

#fullscreen_button {
    background-image: url('../img/fullscreen-svgrepo-com.svg');
}

#help_button {
    background-image: url('../img/help.svg');
}

#music_button {
    /* background-image: url('../img/music.svg'); */
    background-image: url('../img/leaderboard.svg');
    /* background-image: url('../img/music-off.svg'); */
}

#music_line {
    /* background-image: url('../img/line.svg'); */
}

#dark_light_theme_button {
    background-image: url('../img/theme_light_dark_icon_137104.svg');
}

@media (hover: hover) {
    #fullscreen_button:hover,
    #music_button:hover,
    #help_button:hover,
    #dark_light_theme_button:hover,
    #music_line:hover {
        transform: scale(1.3);
        /* filter: invert(100%) sepia(16%) saturate(500%) hue-rotate(45deg) brightness(97%) contrast(100%); */
    }
}

#left_button {
    background-image: url('../img/left.svg');
}

#right_button {
    background-image: url('../img/right.svg');
}

#clockwise_button {
    background-image: url('../img/clockwise.svg');
}

#counterclockwise_button {
    background-image: url('../img/counterclockwise.svg');
}

#down_button {
    background-image: url('../img/down.svg');
}

#harddrop_button {
    background-image: url('../img/harddrop.svg');
}