        #help_modal {
            max-width: 50ch;
            z-index: 100;
        }
        
        #help_modal p,
        #help_modal a {
            font-size: small;
            line-height: 0.7em;
            /* within paragraph */
            margin-bottom: 0em;
            /* between paragraphs */
        }
        
        dialog {
            border: solid rgb(255, 0, 0) .2em;
            border-radius: 10px;
            position: relative;
            padding-bottom: 1.5em;
        }
        
        #close_help_modal {
            position: absolute;
            color: white;
            background-color: black;
            border-radius: .4em;
            width: 10em;
            font-family: "Minecrafter Alt";
            margin-top: 1em;
            left: 50%;
            transform: translateX(-50%);
            /* transform: translate(-50%, -100%); */
        }
        
        #close_help_modal:hover {
            color: black;
            background-color: green;
        }