#pc_help_text,
#mobile_help_text {
    /* visibility: hidden; */
    display: none;
}

dialog p,
dialog a,
td {
    /* font-size: 0.5rem; */
    /* line-height: 0.5rem; */
    text-align: center;
}

#close_help_modal,
#close_highscore_modal {
    color: white;
    background-color: black;
    border-radius: .4em;
    font-family: "Minecrafter Alt";
    margin: 0 auto;
    display: block;
    width: 5em;
    text-align: center;
    padding: 0.2em;
    padding-top: 0.3em;
    font-size: 0.7em;
}

#close_help_modal:hover,
#close_highscore_modal:hover {
    color: black;
    background-color: green;
}

td {
    text-align: center;
    font-style: italic;
    padding-bottom: 0.5em;
    padding-left: 2em;
}

.left {
    color: red;
    text-align: left;
    font-style: normal;
    font-weight: lighter;
    padding-left: 0%;
}

#controls {
    font-size: 1em !important;
    text-align: center;
}

dialog {
    max-width: 50ch;
    width: fit-content;
    /* height: fit-content; */
    z-index: 100;
    border: solid red .1em;
    border-radius: 1em;
    position: absolute;
    top: 0%;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#highscore {
    /* font-size: 0.5rem !important; */
}

table {
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow: scroll;
    height: 30vh;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}